DATABASE_URL="postgresql://sel2-dev:password@localhost:5432/sel2-dev"
API_KEY_404="see https://github.com/SELab-2/viernulvier-opgave/blob/main/kickoff%20archief%20project%20Ugent%20x%20VIERNULVIER.pdf"

RUST_LOG="DEBUG,sqlx=INFO,h2=INFO"
