PREVIEW_NAME=pr-1024
COMPOSE_PROJECT_NAME=${PROJECT_NAME}-preview-${PREVIEW_NAME}

NEXT_PUBLIC_SITE_URL=http://0.0.0.0:3000

PREVIEW_HOST=127.0.0.1 # lokaal testen
PREVIEW_DB_USER=preview
PREVIEW_DB_PASSWORD=preview
PREVIEW_DB_NAME=preview_db
