# Project name (used as base for COMPOSE_PROJECT_NAME)
PROJECT_NAME=viernulvier-archive

# Dev environment COMPOSE_PROJECT_NAME (used by docker-compose.dev.yml)
COMPOSE_PROJECT_NAME=${PROJECT_NAME}-dev

# Dev Database Configuration
DEV_DB_USER=sel2-dev
DEV_DB_PASSWORD=password
DEV_DB_NAME=sel2-dev

# Backend Application Configuration
DATABASE_URL="postgres://sel2-dev:password@localhost:5432/sel2-dev"
API_KEY_404="see https://github.com/SELab-2/viernulvier-opgave/blob/main/kickoff%20archief%20project%20Ugent%20x%20VIERNULVIER.pdf"
JWT_SECRET="change-this-very-secure-secret"

RUST_LOG="DEBUG,sqlx=INFO,h2=INFO"
ALLOWED_ORIGINS=http://localhost:3000,http://sel2-6.ugent.be/

# Garage S3 Configuration (for docker-compose)
GARAGE_RPC_SECRET="142cd05665a3419b3c5b0fb7ed958e924ac9264ae535ad943d670165a00d5298"
GARAGE_S3_ACCESS_KEY="GKbe409e1575cd1ccd29fc0040"
GARAGE_S3_SECRET_KEY="99c26031135d46af53591b3c77caddb564b240054e41f4d1ab24e74fe3a4357e"
GARAGE_S3_BUCKET="dev-bucket"
GARAGE_ZONE="dc1"
GARAGE_CAPACITY="1GiB"

# Backend S3 Configuration
S3_ENDPOINT="http://localhost:3900"
S3_REGION="garage"
S3_ACCESS_KEY="GKbe409e1575cd1ccd29fc0040"
S3_SECRET_KEY="99c26031135d46af53591b3c77caddb564b240054e41f4d1ab24e74fe3a4357e"
S3_BUCKET="dev-bucket"
S3_PUBLIC_URL="http://dev-bucket.s3.garage.localhost:3902"
# Set to false for local HTTP development (needed for Safari)
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
